<h1 class="text-center tasks-title">TASKS</h1>

<div class="flexbox search-bar">
  <%= form_with url: tasks_path, method: :get, id: 'search-form' do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search your task..." %>
    <button type="submit" class="search-button">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
</div>

<script>
 document.addEventListener('DOMContentLoaded', function() {
  const searchForm = document.getElementById('search-form');

  if (searchForm) {  // Vérification si searchForm est null
    const searchInput = searchForm.querySelector('input[type="text"]');

    if (searchInput) {  // Vérification si searchInput est null
      searchInput.addEventListener('input', function() {
        if (searchInput.value === '') {
          searchForm.submit();
        }
      });
    } else {
      console.error("L'élément input[type=\"text\"] n'a pas été trouvé dans le formulaire.");
    }
  } else {
    console.error("Le formulaire avec l'ID 'search-form' n'a pas été trouvé.");
  }
});
</script>


<div class="container text-center">
  <div class="daily d-flex flex-column justify-content-center">
    <h2 class="frequency-title">Daily</h2>
    <% @tasks.where(frequency_type: 'daily').each do |task| %>
      <div class="task-details d-flex justify-content-between">
        <%= link_to task_path(task), class: 'task-link text-decoration-none' do %>
            <span><%= task.task_name %></span>
          <div class="d-flex justify-content-between stars-edit-delete">
            <div>
              <span>+<%= task.points %></span>
              <span><i class="fa-regular fa-star" style="color: #a2cdb0;"></i></span>
        <%end%>
            </div>
            <%= link_to edit_task_path(task), class: "text-decoration-none" do %>
              <i class="fa-solid fa-paintbrush" style="color: #a2cdb0;"></i>
            <%end%>
            <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none" do %>
              <i class="fa-solid fa-trash-can" style="color: #8d5ba5;"></i>
            <%end%>
          </div>
      </div>
    <%end%>
  </div>

  <div class="daily d-flex flex-column justify-content-center">
    <h2 class="frequency-title">Weekly</h2>
    <% @tasks.where(frequency_type: 'weekly').each do |task| %>
       <div class="task-details d-flex justify-content-between">
        <%= link_to task_path(task), class: 'task-link text-decoration-none' do %>
            <span><%= task.task_name %></span>
          <div class="d-flex justify-content-between stars-edit-delete">
            <div>
              <span>+<%= task.points %></span>
              <span><i class="fa-regular fa-star" style="color: #a2cdb0;"></i></span>
            </div>
            <%= link_to edit_task_path(task), class: "text-decoration-none" do %>
              <i class="fa-solid fa-paintbrush" style="color: #a2cdb0;"></i>
            <%end%>
            <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none" do %>
              <i class="fa-solid fa-trash-can" style="color: #8d5ba5;"></i>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>

  <div class="daily d-flex flex-column justify-content-center">
    <h2 class="frequency-title">Monthly</h2>
    <% @tasks.where(frequency_type: 'monthly').each do |task| %>
       <div class="task-details d-flex justify-content-between">
        <%= link_to task_path(task), class: 'task-link text-decoration-none' do %>
            <span><%= task.task_name %></span>
          <div class="d-flex justify-content-between stars-edit-delete">
            <div>
              <span>+<%= task.points %></span>
              <span><i class="fa-regular fa-star" style="color: #a2cdb0;"></i></span>
            </div>
            <%= link_to edit_task_path(task), class: "text-decoration-none" do %>
              <i class="fa-solid fa-paintbrush" style="color: #a2cdb0;"></i>
            <%end%>
            <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none" do %>
              <i class="fa-solid fa-trash-can" style="color: #8d5ba5;"></i>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>

  <%= link_to new_task_path do %>
    <i class="fa-solid fa-circle-plus fa-2xl add-icon" style="color: #ffd1cc;"></i>
  <%end%>
</div>
