<div class="pink-ellipse-tasks-index">
  <svg xmlns="http://www.w3.org/2000/svg" width="342" height="237" viewBox="0 0 242 137" fill="none">
    <g style="mix-blend-mode:darken">
      <path d="M220.255 38.9841C242.146 87.2732 267.385 82.3981 247.141 132.2C198.349 154.319 25.3918 91.1103 3.50079 42.8212C-18.3902 -5.46789 68.3501 -28.2994 117.142 -50.4184C165.934 -72.5374 198.364 -9.30499 220.255 38.9841Z" fill="#FFD1CC" fill-opacity="0.3"/>
    </g>
  </svg>
</div>

<div class="tasks-wrapper">

  <div class="tasks-index-banner">
    <h1 class="text-center tasks-title">TASKS</h1>

      <div class="flexbox search-bar">
      <%= form_with url: tasks_path, method: :get, id: 'search-form' do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search your task..." %>
        <button type="submit" class="search-button">
          <i class="fa fa-search" id="search-icon"></i>
        </button>
      <% end %>
      </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const searchForm = document.getElementById('search-form');

      if (searchForm) {  // Vérification si searchForm est null
        const searchInput = searchForm.querySelector('input[type="text"]');

        if (searchInput) {  // Vérification si searchInput est null
          searchInput.addEventListener('input', function() {
            if (searchInput.value === '') {
              searchForm.submit();
            }
          });
        } else {
          console.error("L'élément input[type=\"text\"] n'a pas été trouvé dans le formulaire.");
        }
      } else {
        console.error("Le formulaire avec l'ID 'search-form' n'a pas été trouvé.");
      }
    });
    </script>
  </div>


  <div class="container tasks-container">
    <div class="frequency-type ">
      <h2 class="frequency-title">Daily</h2>
      <% @tasks.where(frequency_type: 'Daily').each do |task| %>
        <div class="task-details" data-controller="delete-task">
          <%= link_to task_path(task), class: 'task-link text-decoration-none' do %>
              <span data-delete-task-target="deleteTask" ><%= task.task_name %></span>
            <div class="stars-edit-delete">
              <div>
                <span>+<%= task.points %></span>
                <span><i class="fa-solid fa-star fa-bounce" style="color: #ffcc69;"></i></span>
          <%end%>
            </div>
              <%= link_to edit_task_path(task), class: "text-decoration-none" do %>
                <i class="fa-solid fa-paintbrush" style="color: #8AB7DD;"></i>
              <%end%>
              <div>
                <%= link_to task_path(task), data: {action: "click->delete-task#alerteDelete"}, class: "text-decoration-none" do %>
                <i class="fa-solid fa-trash-can" style="color: #8d5ba5;"></i>
              </div>
              <%end%>
              <%= link_to "supprimer", task_path(task), class: "button-delete-task  d-none", data: { delete_task_target: "deleteButton", turbo_method: :delete } %>
            </div>
        </div>
      <%end%>
    </div>

    <div class="frequency-type">
      <h2 class="frequency-title">Weekly</h2>
      <% @tasks.where(frequency_type: 'Weekly').each do |task| %>
        <div class="task-details" data-controller="delete-task">
          <%= link_to task_path(task), class: 'task-link text-decoration-none' do %>
              <span data-delete-task-target="deleteTask" ><%= task.task_name %></span>
            <div class="stars-edit-delete">
              <div>
                <span>+<%= task.points %></span>
                <span><i class="fa-solid fa-star fa-bounce" style="color: #ffcc69;"></i></span>
          <%end%>
            </div>
              <%= link_to edit_task_path(task), class: "text-decoration-none" do %>
                <i class="fa-solid fa-paintbrush" style="color: #8AB7DD;"></i>
              <%end%>
              <div>
                <%= link_to task_path(task), data: {action: "click->delete-task#alerteDelete"}, class: "text-decoration-none" do %>
                <i class="fa-solid fa-trash-can" style="color: #8d5ba5;"></i>
              </div>
              <%end%>
              <%= link_to "supprimer", task_path(task), class: "button-delete-task  d-none", data: { delete_task_target: "deleteButton", turbo_method: :delete } %>
            </div>
        </div>
      <%end%>
    </div>

    <div class="frequency-type">
      <h2 class="frequency-title">Monthly</h2>
      <% @tasks.where(frequency_type: 'Monthly').each do |task| %>
        <div class="task-details" data-controller="delete-task">
          <%= link_to task_path(task), class: 'task-link text-decoration-none' do %>
              <span data-delete-task-target="deleteTask" ><%= task.task_name %></span>
            <div class="stars-edit-delete">
              <div>
                <span>+<%= task.points %></span>
                <span><i class="fa-solid fa-star fa-bounce" style="color: #ffcc69;"></i></span>
          <%end%>
            </div>
              <%= link_to edit_task_path(task), class: "text-decoration-none" do %>
                <i class="fa-solid fa-paintbrush" style="color: #8AB7DD;"></i>
              <%end%>
              <div>
                <%= link_to task_path(task), data: {action: "click->delete-task#alerteDelete"}, class: "text-decoration-none" do %>
                <i class="fa-solid fa-trash-can" style="color: #8d5ba5;"></i>
              </div>
              <%end%>
              <%= link_to "supprimer", task_path(task), class: "button-delete-task  d-none", data: { delete_task_target: "deleteButton", turbo_method: :delete } %>
            </div>
        </div>
      <%end%>
    </div>

  </div>
</div>
