<h1><%= @task.task_name %></h1>

<ul>
  <li><%= @task.task_name %></li>
  <li><%= @task.description %></li>
  <li><%= @task.frequency_type %></li>
  <li><%= @task.points %></li>
</ul>


<%# <%= simple_form_for(@task) do |f| %>
  <%# <%= f.input :task_name %>
  <%# <%= f.input :description %>
  <%# <%= f.input :frequency_type %>
  <%# <%= f.submit %>
<%# <% end %>

<h2>Historique de la tâche</h2>

<ul>
  <% @scheduled_tasks_done.each do |scheduled_task| %>
    <li>
      Fait par <%= scheduled_task.user.first_name %> le <%= scheduled_task.updated_at.to_date %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Tasks", tasks_path %>
