<h1><%= @task.task_name %></h1>

<ul>
  <li><%= @task.task_name %></li>
  <li><%= @task.description %></li>
  <li><%= @task.frequency_type %></li>
  <li><%= @task.points %></li>
</ul>


<%# <%= simple_form_for(@task) do |f| %>
  <%# <%= f.input :task_name %>
  <%# <%= f.input :description %>
  <%# <%= f.input :frequency_type %>
  <%# <%= f.submit %>
<%# <% end %>

<h2>Historic of task</h2>

<ul>
  <% @scheduled_tasks_done.each do |scheduled_task| %>
    <li>
      Done by <%= scheduled_task.user.first_name %> the <%= scheduled_task.recorded_date %> - <%= Task.find(scheduled_task.task_id).frequency_type %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Tasks", tasks_path %>
