<h1><%= @task.task_name %></h1>

<%= simple_form_for(task) do |f| %>
  <%= f.input :task_name %>
  <%= f.input :description %>
  <%= f.input :frequency_type %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to Tasks", tasks_path %>
<%= button_to "Destroy this task", @task, method: :delete %>
