<div class="container-form">
  <%= simple_form_for(@task) do |f|%>
    <%= f.input :task_name, input_html: { class: "custom-input" } %>
    <%= f.label :frequency_type %>
    <div class="tag-item">
        <%= f.input :frequency_type,
        as: :radio_buttons, collection: ['daily', 'weekly', 'monthly'],
        input_html: { class: "tag-selector"}, multiple: false, legend: false %>
    </div>
    <%= f.input :points, input_html: { class: "custom-input" } %>
    <%= f.input :description, as: :text, input_html: { class: "custom-input_descrption" } %>
    <div class="d-flex justify-content-between">
      <%= link_to "Cancel", tasks_path, class: "button-cancel" %>
      <%= f.submit 'Validates', class: "button-validates" %>
    </div>
  <% end %>
</div>
