<div class="container-form" data-controller="form">

  <%= simple_form_for(@task) do |f|%>
    <%= f.input :task_name, placeholder:'Walk the dog', input_html: { class: "custom-input", data: {action: "input->form#countingLetters"} } %>
    <p class="text-left <%= 'd-none' unless @task.task_name.length != '' %>" data-form-target="divcounting">
    </p>

    <%= f.label :frequency_type %>

    <div class="tag-item">
        <%= f.input :frequency_type,
        as: :radio_buttons, collection: ['Daily', 'Weekly', 'Monthly'],
        input_html: { class: "tag-selector", data: {action: "change->form#frequencySelection", form_target: "radio"} }, multiple: false, legend: false %>
    </div>


     <div id="day-selection" class="<%= 'd-none' unless @task.frequency_type == 'Weekly' %>" data-form-target="dayselection">
        <%= f.input :frequency_day,
          as: :radio_buttons, collection: Task::WEEKDAYS,
          input_html: { class: "tag-selector"}, multiple: false, legend: false,
          label: 'Select the day of the week' %>
    </div>

     <div id="month-day-selection"class="<%= 'd-none' unless @task.frequency_type == 'Monthly' %>" data-form-target="monthselection">
        <%= f.input :frequency_day_of_month,
          as: :select, collection: Task::MONTHDAY,
          data: {action: "change->form#frequencySelection", form_target: "radio"},
          label: 'Select the day of the month' %>
    </div>



    <%= f.input :points,placeholder:'40', input_html: { class: "custom-input" } %>
    <%= f.input :description, placeholder:"Walk the dog for 15 min at least and don't forger to take the poop bag and some treats", as: :text, input_html: { class: "custom-input_description" } %>

    <div class="d-flex justify-content-between">
      <%= link_to "Cancel", tasks_path, class: "button-cancel" %>
      <%= f.submit 'Validate', class: "button-validates" %>
    </div>
  <% end %>
</div>
