<div class="container-form" data-controller="form-event">
  <%= form_for @event, html: { class: 'form-group' } do |f| %>
    <div class="d-flex flex-column">
      <%= f.label :title, "Name", class: "frequency-type-label" %>
      <%= f.text_field :title, placeholder: "Board games evening", maxlength:"20",  class: 'form-control custom-input', data: {action: "keyup->form-event#countingLettersName"} %>
      <p class="counting-characters-box" data-form-event-target="divCountingName"></p>
    </div>

    <div class="d-flex flex-column">
      <%= f.label :description, "Description", class: "frequency-type-label" %>
      <%= f.text_area :description, placeholder: "Cheaters are not invited", maxlength:"150", class: 'form-control custom-input_description', data: {action: "keyup->form-event#countingLettersEventDescription"} %>
      <p class="counting-characters-box" data-form-event-target="divCountingEventDescription"></p>
    </div>

    <div class="d-flex flex-column">
      <%= f.label :start_time, "Start time", class: "frequency-type-label" %>
      <%= f.datetime_field :start_time, placeholder: "18:30", class: 'form-control custom-input date-input' %>
    </div>

    <div class="d-flex flex-column">
      <%= f.label :end_time, "End time", class: "frequency-type-label" %>
      <%= f.datetime_field :end_time, placeholder: "23:30", class: 'form-control custom-input time-input' %>
    </div>

    <div class="d-flex justify-content-between mt-3">
        <div class="bouton-event-cancel">
          <%= link_to events_path, class: "button-cancel" do %>
          <i class="fa-solid fa-thumbs-down"></i> Cancel
          <% end %>
        </div>
        <div class="bouton-event-validates">
          <button type="submit" class="button-validates">
            <i class="fa fa-thumbs-up"></i> Validate
          </button>
        </div>
    </div>
  <% end %>
</div>
