<div class="container-form" data-controller="form">
  <%= simple_form_for(@task) do |f|%>
    <%= f.input :task_name, placeholder:'Walk the dog', input_html: { class: "custom-input" } %>
    <%= f.label :frequency_type %>
    <div class="tag-item">
        <%= f.input :frequency_type,
        as: :radio_buttons, collection: ['Daily', 'Weekly', 'Monthly'],
        input_html: { class: "tag-selector"}, multiple: false, legend: false %>
    </div>


     <div id="day-selection">
        <%= f.input :frequency_day,
          as: :radio_buttons, collection: Task::WEEKDAYS,
          input_html: { class: "tag-selector"}, multiple: false, legend: false,
          label: 'Select the day of the week' %>
    </div>

     <div id="month-day-selection" style="display: none;" >
        <%= f.input :frequency_day_of_month,
          as: :select, collection: Task::MONTHDAY,
          label: 'Select the day of the month' %>
    </div>



    <%= f.input :points,placeholder:'40', input_html: { class: "custom-input" } %>
    <%= f.input :description,placeholder:"Walk the dog for 15 min at least and don't forger to take the poop bag and some treats", as: :text, input_html: { class: "custom-input_description" } %>
    <div class="d-flex justify-content-between">
      <%= link_to "Cancel", tasks_path, class: "button-cancel" %>
      <%= f.submit 'Validates', class: "button-validates" %>
    </div>
  <% end %>
</div>
