<div class="iconbar">
  <div class="icons <%= 'active' if current_page?(scheduled_tasks_path) %>">
    <%= link_to scheduled_tasks_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>

  <div class="icons <%= 'active' if current_page?(tasks_path) %>">
    <%= link_to tasks_path do %>
      <i class="fas fa-tasks"></i>
    <% end %>
  </div>

  <div class="icons <%= 'active' if current_page?() %>">
    <%# <%= link_to root_path do %>
    <%# Si on ajoute un calendar %>
      <i class="fas fa-calendar"></i>
    <%# <% end %>
  </div>

  <div class="icons <%= 'active' if current_page?(ranking_path) %>">
    <%= link_to ranking_path do %>
      <i class="fas fa-trophy"></i>
    <% end %>
  </div>
</div>
