<div data-controller="delete-event">

  <h1 class="text-center blue-title"><%= @event.title.titleize %></h1>

  <div class="show-event-card">
    <h3 class="description-event" data-delete-event-target="eventDescription"><%= @event.description %></h3>
      <h3 class="time-event">
          <%= @event.start_time.strftime('%d/%m - %H:%M') %>
          to
          <%= @event.end_time.strftime('%d/%m - %H:%M') %>
      </h3>
      <p><%= @event.user.first_name %>
          <i class="fa-solid fa-sun fa-bounce" style="color: #ffcc69"></i>
      </p>
  </div>

  <div class="buttons-event"  data-delete-event-target="deleteElement">
      <%= link_to event_path(@event), class: "button-delete-event", data: {action: "click->delete-event#alerteDelete"} do %>
          Delete  <i class="fa-solid fa-trash-can icon-margin" style="color: #8d5ba5;"></i>
      <% end %>
      <%= link_to edit_event_path(@event), class: "button-edit-event" do %>
          Edit  <i class="fa-solid fa-paintbrush icon-margin" style="color: #8AB7DD;"></i>
      <% end %>
      <%= link_to "supprimer", event_path(@event), class: "button-delete-event d-none", data: { "delete-event-target": "deleteButton", turbo_method: :delete } %>
  </div>


  <div class="button-back-calendar">
      <%= link_to "Back to calendar", events_path %>
  </div>
</div>
