<%# <div class="ranking-first">
  <div class="ranking">
    <%= render "ranking_card", user: @users.first %>
    <%# <div class="trophy">
      <i class="fa-solid fa-trophy" style="color: #ffcc69;"></i>
    </div>
  </div>
</div>
<div class="ranking-second">
  <div class="ranking">
    <%= render "ranking_card", user: @users.second%>
  <%# </div>

  <div class="ranking">
    <%= render "ranking_card", user: @users.last %>
  <%# </div>
</div> %>

<h1 class="yellow-title">Ranking</h1>

<h2 class="month-title"><%= @month ? @month.strftime("%B %Y") : "Mois non défini" %></h2>

<div class="ranking-podium">
  <% @users.each_with_index do |user, index| %>
    <% if index < 3 %>
      <div class="special-ranking <%= ['third-place', 'second-place', 'first-place'][index] %>">
        <%= render "ranking_card", user: user %>
        <% if index == 0 %>
          <div class="trophy">
            <i class="fa-solid fa-trophy bounce"></i>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="standard-ranking">
        <%= render "ranking_card", user: user %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="form-month">
  <%= form_with(url: ranking_path, method: :get, local: true) do |form| %>
    <%= form.label :month, "Sélectionnez un mois:" %>
    <%= form.date_select :month, { discard_day: true, end_year: Date.today.year, start_year: Date.today.year - 1 }, { class: 'form-control' } %>
    <div class="text-center">
      <%= form.submit 'Filter', class: 'btn btn-info' %>
      </div>
  <% end %>
</div>
