<div class="simple-calendar">
  <div class="calendar-index-banner">
    <h1 class="text-center calendar-title">CALENDAR</h1>
  </div>

  <div class="calendar-button d-flex align-items-center justify-content-between">
    <div class="calendar-heading my-2">
      <%= link_to raw('<i class="fa-solid fa-arrow-left" style="color: #89b7dc;"></i>'), calendar.url_for_previous_view, class: 'btn btn-outline-primary rounded-circle' %>
      <span class="month-title btn btn-primary"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to raw('<i class="fa-solid fa-arrow-right fa-flip-vertical" style="color: #89b7dc;"></i>'), calendar.url_for_next_view, class: 'btn btn-outline-primary rounded-circle' %>
    </div>
    <%= link_to new_event_path, class: 'btn btn-success create-event-link rounded-circle' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <td class="<%= calendar.td_classes_for(day).join(' ') %>">
              <%= day.day %>

              <% day_events = @events.select { |event| event.start_time.to_date == day } %>

              <% day_events.each do |event| %>
                <br>
                <%= link_to event.title, event_path(event) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="calendar-ellipse-green">
    <svg xmlns="http://www.w3.org/2000/svg" width="229" height="236" viewBox="0 0 229 236" fill="none">
        <path d="M228.18 104.545C228.18 157.565 210.18 217.4 139.18 235.4C-10.82 235.4 0.179959 84.4192 0.179959 31.3999C0.179959 -21.6194 77.6083 8.54519 131.18 8.54519C184.752 8.54519 228.18 51.5259 228.18 104.545Z" fill="rgba(162, 205, 176, 0.3)"/>
    </svg>
</div>
