<!DOCTYPE html>
<html>
  <head>
    <title>CozyMate - Organize, Share, Win - Turn Daily Life into a Game !</title>

    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta name="author" content="Anaïs Bernard, Emilien Leborgne, Victoria Krommenacker">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= favicon_link_tag 'LogoCozyMate.ico' %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% unless current_page?(root_path) || current_page?(user_session_path) %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
